{:exoscale.project/lib com.s-exp/pact
 :exoscale.project/version-file "VERSION"
 :exoscale.project/deploy? true
 :slipset.deps-deploy/exec-args {:installer :remote
                                 :sign-releases? false
                                 :repository "clojars"}
 :exoscale.project/pom-data
 [[:licenses
   [:license
    [:name "Eclipse Public License version 1.0"]
    [:url "https://opensource.org/license/epl-1-0/"]
    [:distribution "repo"]]]]

 :deps {org.clojure/clojure {:mvn/version "1.12.0-alpha5"}}

 :aliases
 {:project {:deps {io.github.exoscale/tools.project {:git/sha "99e6b7aaccd9b97079341625c807b9fa0352e36d"}}
            :ns-default exoscale.tools.project
            :jvm-opts ["-Dclojure.main.report=stderr"]}
  :test
  {:extra-deps {sks/test-runner {:local/root "dev"}
                org.clojure/test.check {:mvn/version "1.1.1"}}
   :jvm-opts ["-Dclojure.main.report=stderr"]

   :exec-fn test-runner/run
   :extra-paths ["test"]}

  :quickdoc
  {:deps {org.babashka/cli {:mvn/version "0.4.36"}
          io.github.borkdude/quickdoc
          {:deps/root "jvm"
           :git/sha "7c8bef54eda28367193ec433af01bb940114f012"}}
   :exec-fn quickdoc.api/quickdoc
   :exec-args {:github/repo "https://github.com/mpenet/pact"
               :git/branch "master"
               :source-paths ["src/s_exp/pact.clj"]}}}}
